:root {
  --text: #333333;
  --border-color: #e2e2e2;

  --placeholder-color: #b2b2b2;
  // Radius
  --rd-sm: 3px;
  --rd-md: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 300 15px "Poppins";
  color: var(--text);
}
body {
  background-color: #f1f1f1;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 0;
  .card {
    box-shadow: 0 8px 12px 0 #e9e9e9;
    background-color: #fafafa;
    padding: 15px;
    border-radius: var(--rd-md);
  }
  .todo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    button {
      max-width: 180px;
      font-weight: 500;
    }
    input {
      font-weight: 500;
      &::placeholder {
        color: var(--placeholder-color);
        font-weight: 300;
      }
    }
  }
}

input,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--rd-sm);
  outline: 0;
  &:focus {
    box-shadow: inset 0 0 7px 3px var(--border-color);
  }
}

button {
  background-color: transparent;
}
